.footer {
    position: relative;
    padding: 56px 58px 58px;
    background: #000;
    color: #fff;

    @include tb {
        padding: 30px 20px 60px;
    }

    @include m {
        padding-top: 26px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        position: relative;

        @include tb {
            display: block;
            width: 100%;
        }

        .list {
            display: flex;
            justify-content: space-between;
            margin-top: 3px;
            width: calc(100% - 280px);
            flex-wrap: wrap;
            row-gap: 40px;

            @include tb {
                display: block;
                width: 100%;
            }

            .item {
                width: 192px;

                &.mobile {
                    display: none;

                    @include tb {
                        display: block;
                    }
                }

                &:not(:last-child) {
                    margin-right: 32px;

                    @include pc-md {
                        margin-right: 16px;
                    }
                }

                &:last-child {
                    @include tb {
                        .sub {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            align-items: center;
                            row-gap: 24px;
                            margin-top: 0;
                        }

                        li {

                            &:not(:last-child) {
                                margin-right: 13px;
                            }

                            a {
                                height: 46px;
                                font-size: 14px;
                                line-height: 1.43;
                                padding: 0;
                            }

                            img {
                                height: 100%;
                            }
                        }
                    }
                }

                @include pc-md {
                    width: 13.47vw;
                    min-width: 144px;
                }

                @include tb {
                    width: 100%;
                }

                a.title {
                    position: relative;
                    display: inline-block;
                    padding: .8em 0;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    letter-spacing: -.02em;

                    @include tb {
                        display: block;
                        width: 100%;
                        position: relative;
                        font-size: 18px;
                    }

                    &:hover::before {
                        width: 100%;

                        @include tb {
                            width: fit-content;
                            transform: translateY(-50%) rotate(90deg);
                            transition: transform .3s;
                        }
                    }

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 8px;
                        width: 0;
                        height: 1px;
                        background-color: #fff;
                        transition: width .4s;

                        @include tb {
                            display: block;
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 6px;
                            left: unset;
                            width: 2px;
                            height: 11px;
                            transition: transform .3s;
                            background-color: #fff;
                            transform: translateY(-50%);
                        }
                    }

                    &::after {
                        display: none;

                        @include tb {
                            display: block;
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 6px;
                            left: unset;
                            width: 2px;
                            height: 11px;
                            transition: transform .3s;
                            background-color: #fff;
                            transform: translateY(-50%) rotate(90deg);
                        }
                    }
                }

                .sub {
                    display: flex;
                    flex-direction: column;

                    @include tb {
                        display: none;
                    }

                    a {
                        position: relative;
                        color: #bbb;
                        font-size: 14px;
                        font-weight: 300;
                        padding: 4.2px 0;
                        line-height: 32px;
                        transition: all .3s;

                        @include tb {
                            display: block;
                            font-size: 14px;
                            line-height: 1.43;
                            padding: 5px 0 5px 20px;
                        }

                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .language {
            position: absolute;
            top: 20px;
            right: 0;

            @include tb {
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                margin-top: 44px;
            }

            @include m {
                margin-top: 38px;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgba(255, 255, 255, .3);
                border-radius: 30px;
                padding: 11px 10px 10px 50px;
                min-width: 280px;
                max-height: 60px;
                background: url(../images/icon_globe_local.svg) no-repeat 18px center;
                transition: all .3s;

                &:hover {
                    border: 1px solid #fff;

                    &::after {
                        transform: translateX(15%);
                    }
                }

                &::after {
                    content: "";
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    width: 32px;
                    height: 32px;
                    margin-left: 12px;
                    background-image: url(../images/w_arrow.svg);
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, .95);
                    background-repeat: no-repeat;
                    background-size: 16px 16px;
                    background-position: center;
                    transition: background-color .3s,
                        transform .3s;
                }

                span {
                    display: inline-block;
                    font-size: 14px;
                    letter-spacing: -.14px;

                    small {
                        font-size: 13px;
                        font-weight: 100;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        display: block;
        margin-top: 110px;

        @include tb {
            margin-top: 18px;
        }

        .col-top {
            .info-img {
                display: flex;
                align-items: center;
                margin-right: 16px;

                @include tb {
                    display: none;
                }

                li {
                    font-size: 12px;
                    color: #bbb;

                    &:not(:last-child) {
                        margin-right: 15px;
                        margin-bottom: 16px;
                    }

                    &:last-child {
                        margin-top: -15px;
                    }
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    height: 46px;
                }

                img {
                    height: 100%;
                }
            }

            .list-wrap {
                display: flex;
                justify-content: space-between;

                .family-list {
                    display: flex;
                    align-items: center;
                    width: 80%;
                    flex-wrap: wrap;

                    @include tb {
                        display: none;
                    }

                    li {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0;
                        font-size: 12px;
                        font-weight: 300;
                        color: #bbb;
                        letter-spacing: .02em;

                        &:not(:last-child) {
                            margin-right: 24px;
                        }

                        &:last-child a::after {
                            content: none;
                        }

                        a {
                            position: relative;
                            display: inline-block;
                            color: #bbb;
                            padding: 15px 0;
                            transition: color .2s;

                            &:hover {
                                color: #fff;
                            }

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: -12px;
                                opacity: .3;
                                width: 1px;
                                height: 12px;
                                transform: translateY(-50%);
                                background-color: #fff;
                            }
                        }
                    }
                }

                .sns-list {
                    display: flex;
                    align-items: center;

                    @include tb {
                        display: block;
                        margin: 18px auto 0;
                    }

                    li {
                        display: inline-block;
                        width: 40px;
                        height: 40px;

                        &:not(:last-child) {
                            margin-right: 14px;
                        }

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            transition: all .3s;
                            background-color: black;

                            &:hover {
                                background-color: rgba(255, 255, 255, .15);
                            }
                        }
                    }
                }
            }
        }

        .col-bottom {
            border-top: 1px solid rgba(255, 255, 255, .15);
            margin-top: 10px;
            padding-top: 7px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include tb {
                display: block;
                border-top: 0;
                margin-top: 2rem;
                padding-top: 0;
            }

            .list {
                display: flex;
                margin-right: 16px;

                @include pc-md {
                    margin-top: 9px;
                }

                @include tb {
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                    margin: 0 auto;
                }

                @include m {
                    max-width: 360px;
                }

                li {
                    vertical-align: middle;
                    padding: 0;
                    font-size: 12px;
                    font-weight: 300;
                    color: #bbb;
                    letter-spacing: .02em;

                    &:not(:last-child) {
                        margin-right: 24px;
                    }

                    @include m {
                        line-height: 1.5;
                    }
                }

                a {
                    display: inline-block;
                    color: #bbb;
                    padding: 15px 0;
                    transition: color .2s;

                    @include tb {
                        position: relative;
                        padding: 4px 0;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .copy-wrap {
                @include tb {
                    margin-top: 38px;
                    text-align: center;
                }

                .copyright {
                    color: #999;
                    font-size: 12px;
                    letter-spacing: .01em;
                    float: right;
                    margin-top: 15px;

                    @include tb {
                        position: relative;
                        font-size: 11px;
                        float: none;
                    }
                }
            }
        }
    }
}