.header {
    position: fixed;
    width: 100%;
    z-index: 3000;

    .header-top {
        background-color: #000;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        padding: 0 61px;

        @include tb {
            padding: 0 40px;
        }

        @include m {
            padding: 0 20px;
        }

        .inner {}

        .opener {
            position: relative;
            display: none;
            color: #fff;
            font-size: 11px;
            font-weight: 300;
            transition: .5s;

            &.active::after {
                transform: translateY(-50%) rotateX(180deg);
            }

            &::after {
                content: "";
                position: absolute;
                width: 16px;
                top: 50%;
                transform: translateY(-50%);
                height: 16px;
                background: url(../images/icon-down-arrow-white.svg) no-repeat 50% 50%;
            }

            @include tb {
                display: block;
            }
        }

        .assistant {
            position: absolute;
            width: 100%;
            top: 30px;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: .5s;

            &.active {
                opacity: 1;
                visibility: visible;
                z-index: 101;
                transition: .5s;
            }

            .menu {
                background-color: #000;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                padding-bottom: 4px;
            }

            li {
                display: block;

                &:not(.search-by) {
                    border-top: 1px solid rgba(255, 255, 255, .15);
                }

                &.search-by {
                    display: block;
                    border-top: unset;
                    margin-left: 32px;
                    padding-top: 30px;
                    padding-bottom: 13px;
                    color: #bbb;
                    font-size: 13px;
                    font-family: "Hankook";
                    font-weight: 500;
                    letter-spacing: -.015em;
                }

                .has-bar {}

                a {
                    display: flex;
                    align-items: center;
                    position: relative;
                    color: #fff;
                    padding: 13px 0 14px 82px;
                    font-family: "Hankook";
                    font-size: 14px;
                    font-weight: 600;

                    &.ion {
                        color: #00b2c4;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: 32px;
                        width: 32px;
                        height: 32px;
                        margin-right: 10px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.ion::before {
                        background-image: url(../images/icon_white_electric-car.svg);
                    }

                    &.pcr::before {
                        background-image: url(../images/icon_white_pcr.svg);
                    }

                    &.suv::before {
                        background-image: url(../images/icon_white_suv-cuv.svg);
                    }

                    &.light::before {
                        background-image: url(../images/icon_white_light-truck.svg);
                    }

                    &.truck::before {
                        background-image: url(../images/icon_white_truck.svg);
                    }

                    &.tire::before {
                        background-image: url(../images/icon_white_competition-tire.svg);
                    }
                }
            }

            .assistant-closer {
                font-family: "Hankook";
                color: #fff;
                position: relative;
                display: block;
                margin: 10px auto 0;
                height: 46px;
                width: 46px;
                background: #fff url(../images/icon-close.svg) no-repeat center;
                border-radius: 50%;
            }
        }

        .col-left {
            display: flex;
            align-items: center;

            @include tb {
                display: none;
            }

            li {
                &+li {
                    margin-left: 24px;
                }

                a {
                    display: inline-block;
                    color: #fff;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 3;

                    &.ion {
                        color: #00b2c4;
                    }
                }
            }
        }

        .col-right {
            display: flex;

            a {
                color: #fff;
                font-size: 11px;
                font-weight: 500;
                display: flex;
                align-items: center;

                &:last-child::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    height: 1em;
                    width: 1px;
                    top: 1px;
                    background-color: #fff;
                    opacity: .3;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                img {
                    width: 14px;
                    height: 14px;
                    margin-right: 8px;
                }
            }
        }
    }

    .header-bottom {
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 3000;
        width: 100%;
        transition: background-color .2s,
            transform .4s;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 29px 61px 27px;

        @include tb {
            height: 64px;
            padding: 5px 40px;
        }

        @include m {
            padding: 5px 20px;
        }

        .bg-panel {
            position: absolute;
            width: 100%;
            height: 465px;
            left: 0;
            top: 0;
            background-color: #fff;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s,
                visibility .2s;

            @include tb {
                height: 100vh;
            }

            &.on {
                opacity: 1;
                visibility: visible;
                z-index: -1;
            }
        }

        .logo {
            position: relative;
            display: flex;
            align-items: center;
            transition: opacity .2s cubic-bezier(.55, .055, .675, .19);
            z-index: 100;

            @include tb {
                width: 132px;
                transform: translateY(1.5px);
            }

            a {
                img {}
            }
        }

        .gnb {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100%;
            left: 0;

            @include tb {
                display: none;
            }

            .group-list {
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }

            .content {
                &+li {
                    margin-left: 36px;
                }

                .title {
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 80px;
                    letter-spacing: -.02em;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 1px;
                        left: 0;
                        background: currentColor;
                        transition: width .4s;
                        bottom: -27px;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }

                &:nth-child(4) {
                    .sub {
                        top: 100%;
                        padding: 30px;
                    }

                    .sub-title {
                        display: inline-block;
                        padding: 0.5em 0;
                    }
                }
            }

            .sub {
                display: flex;
                justify-content: center;
                position: absolute;
                width: 62.5%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                // top: 114px;
                max-width: 1200px;
                opacity: 0;
                visibility: hidden;
                transition: opacity .2s,
                    visibility .2s;
                z-index: 1;
                top: 100%;
                padding: 30px;

                &.on {
                    opacity: 1;
                    visibility: visible;
                }

                &>li {
                    width: 200px;
                    min-height: 300px;

                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                }

                strong {
                    display: inline-block;
                    margin-bottom: 9px;
                    color: #666;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: .005rem;
                }

                .small-sub {
                    li {
                        display: flex;
                        align-items: center;

                        a {
                            display: inline-block;
                            padding: 0.5em 0;
                            color: #666;
                            font-size: 14px;
                            text-decoration: underline;
                            text-decoration-color: transparent;
                            transition: text-decoration-color .2s cubic-bezier(.55, .055, .675, .19);

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.ion {
                            a {
                                color: #00b2c4;
                            }
                        }
                    }

                    &.first {
                        li {
                            line-height: 1.4;

                            &::before {
                                content: "";
                                position: relative;
                                top: 1px;
                                display: inline-block;
                                width: 24px;
                                min-width: 24px;
                                height: 24px;
                                margin-right: 10px;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

                            &.eletric::before {
                                background-image: url(../images/icon_menu_electric-car.svg);
                            }

                            &.pcr::before {
                                background-image: url(../images/icon_menu_pcr.svg);
                            }

                            &.suv::before {
                                background-image: url(../images/icon_menu_suv-cuv.svg);
                            }

                            &.light::before {
                                background-image: url(../images/icon_menu_light-truck.svg);
                            }

                            &.truck::before {
                                background-image: url(../images/icon_menu_truck.svg);
                            }

                            &.competition::before {
                                background-image: url(../images/icon_menu_competition-tire.svg);
                            }
                        }
                    }
                }
            }

        }

        .utils {
            display: flex;
            z-index: 100;

            a {
                display: flex;
                align-items: center;

                &.tire {
                    @include pc {
                        margin-right: 8px;
                    }

                    @include tb {
                        position: fixed;
                        right: 20px;
                        bottom: 20px;
                        margin: 0;
                        background: #222;
                        border-radius: 50%;
                        width: 52px;
                        height: 52px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    img {
                        &.pc {
                            @include tb {
                                display: none;
                            }
                        }

                        &.mobile {
                            display: none;

                            @include tb {
                                display: block;
                            }
                        }
                    }
                }

                &.location {
                    position: relative;
                    margin-left: 15px;
                    margin-right: 8px;

                    @include pc {
                        margin-left: 0px;
                        margin-right: 8px;
                    }

                    @include tb {
                        width: 40px;
                        height: 40px;
                    }

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: -18px;
                        width: 1px;
                        height: 24px;
                        background-color: rgba(0, 0, 0, .15);

                        @include pc {
                            content: none;
                        }
                    }
                }

                &.search {
                    margin-left: 15px;

                    @include pc {
                        margin-left: 0px;
                    }

                    @include tb {
                        width: 40px;
                        height: 40px;
                    }

                    .search-icon {
                        display: block;
                    }

                    .close-icon {
                        display: none;
                    }

                    &.on {
                        .search-icon {
                            display: none;
                        }

                        .close-icon {
                            display: block;
                        }
                    }
                }

                &.menu {
                    display: none;

                    @include tb {
                        content: "";
                        display: inline-block;
                        background: url("../images/icon-menu.svg");
                        width: 40px;
                        height: 40px;
                    }
                }

                @include pc {
                    .text {
                        display: none;
                    }
                }
            }
        }

        .group-search {
            width: 100%;
            position: absolute;
            left: 0;
            top: 144px;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s cubic-bezier(.55, .055, .675, .19);

            @include tb {
                top: 92px;
            }

            &.on {
                visibility: visible;
                opacity: 1;
                transition: opacity .2s cubic-bezier(.55, .055, .675, .19);
            }

            .search-back-pannel {
                padding: 30px;

                @include tb {
                    padding: 30px 0 0;
                }

                .section {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0 71px;

                    @include tb {
                        padding: 0 20px;
                    }
                }

                .search-box-wrap {
                    max-width: 960px;
                    position: relative;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                }

                .input-wrap {
                    flex: 1;
                    position: relative;

                    input {
                        width: 100%;
                        height: 60px;
                        padding: 20px 58px 24px 32px;
                        border-radius: 32px;
                        outline: 0;
                        font-family: "HankookMain",
                            sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.6;
                        letter-spacing: -.025em;
                        background: #f0f0f0;
                        border: none;

                        @include tb {
                            height: 48px;
                            padding: 15px 58px 15px 22px;
                        }

                        &::placeholder {
                            color: #00000030;
                            font-size: 16px;
                        }
                    }

                    .btn {
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-image: url(../images/w_search.svg);
                        transition: background-color .2s;
                    }
                }

                .search-recommend-list {
                    max-width: 800px;
                    margin: 34px auto 0;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .recomment-list {
                        font-weight: 500;
                        padding: 5px 16px;
                        font-size: 14px;
                        line-height: 1.57;
                        letter-spacing: -.28px;
                        position: relative;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:not(:last-child)::before {
                            content: "";
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 12px;
                            background: #00000025;
                        }
                    }
                }
            }

        }
    }
}

.sidenav {
    display: none;

    @include tb {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 30px;
        background-color: #fff;
        transition: transform .3s;
        z-index: 3003;
        overflow-y: auto;
        right: -100%;
    }

    &.show {
        transform: translate(-100%, 0);
    }

    .content {
        position: relative;
        padding: 0 40px;

        .cmd {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 64px;
            padding: 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            .side-logo {
                display: block;
                width: 134px;
                transform: translateY(1.5px);
            }

            .btn {
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 0;
                width: 28px;
            }
        }

        .menu-list {
            margin-top: 60px;
            padding-top: 40px;

            .d1 {
                &.menu-others {
                    margin-top: 32px;

                    .d1-link {
                        margin-top: 0;
                        color: #444;
                        font-size: 16px;
                    }

                    .d1-menu {
                        &+.d1-menu {
                            margin-top: 0px;
                        }
                    }
                }
            }

            .d1-menu {
                overflow: hidden;

                &:first-child {
                    strong {
                        padding-top: 22px;
                    }
                }

                &+.d1-menu {
                    margin-top: 4px;
                }
            }

            .d1-link {
                display: block;
                position: relative;
                padding: 5px 0;
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;

                i {}
            }

            .d2-wrap {
                overflow: hidden;
                display: none;

                .d2 {}

                .d2-menu {
                    &.ion {
                        a {
                            color: #00b2c4;
                        }
                    }

                    strong {
                        display: block;
                        padding: 16px 20px 4px;
                        color: #666;
                        font-size: 12px;
                        font-weight: 400;
                    }

                    .d2-link {
                        display: inline-block;
                        padding: 10px 20px;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;

                        &.electric::before {
                            background-image: url(../images/icon_menu_electric-car.svg);
                        }

                        &.pcr::before {
                            background-image: url(../images/icon_menu_pcr.svg);
                        }

                        &.suv::before {
                            background-image: url(../images/icon_menu_suv-cuv.svg);
                        }

                        &.light::before {
                            background-image: url(../images/icon_menu_light-truck.svg);
                        }

                        &.truck::before {
                            background-image: url(../images/icon_menu_truck.svg);
                        }

                        &.competition::before {
                            background-image: url(../images/icon_menu_competition-tire.svg);
                        }

                        &.icm {
                            padding: 3px 20px;

                            &::before {
                                content: "";
                                display: inline-block;
                                position: relative;
                                width: 22px;
                                height: 22px;
                                top: 6px;
                                margin-right: 4px;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                        }

                        span {}
                    }
                }

            }
        }
    }

    .region {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        padding: 20px 40px;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 20px 40px;

        a {
            .region-link {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;

                &::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    background: url(../images/w_icon-globe.svg) no-repeat center/contain;
                }
            }
        }

        .region-current {
            font-size: 12px;
            font-weight: 600;
        }
    }

    .social {
        display: flex;
        padding: 30px 40px;

        .social-item {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, .06);
            transition: background .3s;

            &+.social-item {
                margin-left: 14px;
            }

            .icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: no-repeat center center transparent;
                background-color: transparent;


                &.icon-facebook {
                    background-image: url(../images/c_ic_facebook.svg);
                }

                &.icon-youtube {
                    background-image: url(../images/c_ic_youtube.svg);
                }

                &.icon-instagram {
                    background-image: url(../images/c_ic_instagram.svg);
                }

                &.icon-linkedin {
                    background-image: url(../images/c_ic_linkedin.svg);
                }

                &.icon-naver {
                    background-image: url(../images/c_ic_blog.svg);
                }

                &.icon-tiktok {
                    background-image: url(../images/c_ic_tiktok.svg);
                }

                &.invert {
                    &.icon-facebook {
                        background-image: url(../images/c_ic_facebook_invert.svg);
                    }

                    &.icon-youtube {
                        background-image: url(../images/c_ic_youtube_invert.svg);
                    }

                    &.icon-instagram {
                        background-image: url(../images/c_ic_instagram_invert.svg);
                    }

                    &.icon-linkedin {
                        background-image: url(../images/c_ic_linkedin_invert.svg);
                    }

                    &.icon-naver {
                        background-image: url(../images/c_ic_blog_invert.svg);
                    }

                    &.icon-tiktok {
                        background-image: url(../images/c_ic_tiktok_invert.svg);
                    }
                }
            }
        }
    }
}