.header {
    position: fixed;
    width: 100%;
    z-index: 3000;

    .header-top {
        background-color: #000;
        height: 30px;

        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }

        .col-left {
            display: flex;
            align-items: center;

            li {
                &+li {
                    margin-left: 24px;
                }

                a {
                    display: inline-block;
                    color: #fff;
                    font-size: 11px;
                    font-weight: 500;

                    &.ion {
                        color: #00b2c4;
                    }
                }
            }
        }

        .col-right {
            display: flex;

            a {
                color: #fff;
                font-size: 11px;
                font-weight: 500;
                display: flex;
                align-items: center;

                &:last-child::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    height: 1em;
                    width: 1px;
                    top: 1px;
                    background-color: #fff;
                    opacity: .3;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                img {
                    width: 14px;
                    height: 14px;
                    margin-right: 8px;
                }
            }
        }
    }

    .header-bottom {
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 3000;
        width: 100%;
        padding: 0px 20px;
        transition: background-color .2s,
            transform .4s;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bg-panel {
            position: absolute;
            width: 100%;
            height: 465px;
            left: 0;
            top: 0;
            background-color: #fff;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s,
                visibility .2s;

            &.on {
                opacity: 1;
                visibility: visible;
                z-index: -1;
            }
        }

        .logo {
            position: relative;
            display: flex;
            align-items: center;
            transition: opacity .2s cubic-bezier(.55, .055, .675, .19);
            z-index: 100;

            a {
                img {}
            }
        }

        .gnb {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100%;
            left: 0;

            .group-list {
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }

            .content {
                &+li {
                    margin-left: 36px;
                }

                .title {
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 80px;
                    letter-spacing: -.02em;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 1px;
                        left: 0;
                        background: currentColor;
                        transition: width .4s;
                        bottom: -27px;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }

                &:nth-child(4) {
                    .sub {
                        top: 107px;
                    }

                    .sub-title {
                        display: inline-block;
                        padding: 0.5em 0;
                    }
                }
            }

            .sub {
                display: flex;
                justify-content: center;
                position: absolute;
                width: 62.5%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                top: 114px;
                max-width: 1200px;
                opacity: 0;
                visibility: hidden;
                transition: opacity .2s,
                    visibility .2s;
                z-index: 1;

                &.on {
                    opacity: 1;
                    visibility: visible;
                }

                &>li {
                    width: 200px;
                    min-height: 300px;

                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                }

                strong {
                    display: inline-block;
                    margin-bottom: 9px;
                    color: #666;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: .005rem;
                }

                .small-sub {
                    li {
                        display: flex;
                        align-items: center;

                        a {
                            display: inline-block;
                            padding: 0.5em 0;
                            color: #666;
                            font-size: 14px;
                            text-decoration: underline;
                            text-decoration-color: transparent;
                            transition: text-decoration-color .2s cubic-bezier(.55, .055, .675, .19);

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.ion {
                            a {
                                color: #00b2c4;
                            }
                        }
                    }

                    &.first {
                        li {
                            line-height: 1.4;

                            &::before {
                                content: "";
                                position: relative;
                                top: 1px;
                                display: inline-block;
                                width: 24px;
                                min-width: 24px;
                                height: 24px;
                                margin-right: 10px;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

                            &.eletric::before {
                                background-image: url(../images/icon_menu_electric-car.svg);
                            }

                            &.pcr::before {
                                background-image: url(../images/icon_menu_pcr.svg);
                            }

                            &.suv::before {
                                background-image: url(../images/icon_menu_suv-cuv.svg);
                            }

                            &.light::before {
                                background-image: url(../images/icon_menu_light-truck.svg);
                            }

                            &.truck::before {
                                background-image: url(../images/icon_menu_truck.svg);
                            }

                            &.competition::before {
                                background-image: url(../images/icon_menu_competition-tire.svg);
                            }
                        }
                    }
                }
            }

        }

        .utils {
            display: flex;
            z-index: 100;

            a {
                display: flex;
                align-items: center;

                &.location {
                    position: relative;
                    margin-left: 15px;
                    margin-right: 8px;

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: -18px;
                        width: 1px;
                        height: 24px;
                        background-color: rgba(0, 0, 0, .15);
                    }
                }

                &.search {
                    margin-left: 15px;

                    .search-icon {
                        display: block;
                    }

                    .close-icon {
                        display: none;
                    }

                    &.on {
                        .search-icon {
                            display: none;
                        }

                        .close-icon {
                            display: block;
                        }
                    }
                }
            }
        }

        .group-search {
            width: 100%;
            position: absolute;
            left: 0;
            top: 144px;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s cubic-bezier(.55, .055, .675, .19);

            &.on {
                visibility: visible;
                opacity: 1;
                transition: opacity .2s cubic-bezier(.55, .055, .675, .19);
            }

            .search-back-pannel {
                padding: 30px;

                .section {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0 71px;
                }

                .search-box-wrap {
                    max-width: 960px;
                    position: relative;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                }

                .input-wrap {
                    flex: 1;
                    position: relative;

                    input {
                        width: 100%;
                        height: 60px;
                        padding: 20px 58px 24px 32px;
                        border-radius: 32px;
                        outline: 0;
                        font-family: "HankookMain",
                            sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.6;
                        letter-spacing: -.025em;
                        background: #f0f0f0;
                        border: none;

                        &::placeholder {
                            color: #00000030;
                            font-size: 16px;
                        }
                    }

                    .btn {
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-image: url(../images/w_search.svg);
                        transition: background-color .2s;
                    }
                }

                .search-recommend-list {
                    max-width: 800px;
                    margin: 34px auto 0;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .recomment-list {
                        font-weight: 500;
                        padding: 5px 16px;
                        font-size: 14px;
                        line-height: 1.57;
                        letter-spacing: -.28px;
                        position: relative;

                        &:hover {
                            text-decoration: underline;
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 12px;
                            background: #00000025;
                        }
                    }
                }
            }

        }
    }
}